
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="row2">
     <% if (defined?(@blood_pressure)).nil? %>
 
   <% else  %>
  
  <% end %>
</div>
                             
<br>
<br>
    <div class="panel-heading">
 Radiology Requests
    </div>
    
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
      
      <th>Patient No</th>
      <th>Name</th>
      <th>Radio/Ultra Order Requested </th>
      <th>Date Ordered</th>


      
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @radiology_requests.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
        
          <td><%= patient.card_no%></td>
         <td><%= patient.other_names + " " +  patient.surname %></td>
         <td><%= patient.service_name%></td>
      
         <td><%= patient.created_at %></td>
         <!-- <td><%#= patient.fullname %></td> -->
         
          <td ><%= link_to 'View', view_radio_path(:id => patient.patient_id),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td> 

           <td ><%= link_to 'Delete', delete_radio_record_path(:created_at => patient.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
         
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

       <center>


 <%= link_to  'Request Radiology ', radio_form_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Request Radiology</h4>
      </div>
      <div class="modal-body" id = 'hi'>
      <%= render "radio_form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Radiology Details</h4>
      </div>
      <div class="modal-body" id = 'hii'>
      <%= render "view_radio" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

