<p id="notice"><%= notice %></p>

<p>
  <strong>Basic medical record:</strong>
  <%= @radiology_request.basic_medical_record_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @radiology_request.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @radiology_request.user_id %>
</p>

<p>
  <strong>Personnel:</strong>
  <%= @radiology_request.personnel_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @radiology_request.status %>
</p>

<p>
  <strong>Radiology:</strong>
  <%= @radiology_request.radiology %>
</p>

<%= link_to 'Edit', edit_radiology_request_path(@radiology_request) %> |
<%= link_to 'Back', radiology_requests_path %>
