<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<%= simple_form_for(@purchase_receipt) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="margin-left: -179px; margin-top:-45px">
    <%= f.input :store_purchase_id, collection: StorePurchase.all, value_method: :id, label_method: :item_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "store_purchase_id"}  %>
    <%= f.file_field :image %>
    <%= f.input :user_id %>
    <%= f.input :status, as: :hidden %>
    <%= f.input :comments %>
  </div>

    <div class="form-actions" style="text-align:center; margin-top: 25px; margin-left: -482px;">
      <button type="button" class ="btn btn-success">
          <i class="btn-icon-prepend" data-feather="check-square"></i>
        <%= f.button :submit, 'Submit' %>
      </button>
    </div>
<% end %>
</div>
</div>
</div>
</body>
