<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<%= render 'form', purchase_receipt: @purchase_receipt %>

<%= link_to 'Show', @purchase_receipt %> |
<%= link_to 'Back', purchase_receipts_path %>
</div>
</div>
</div>
</body>
