<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<p id="notice"><%= notice %></p>

<h1>Store Inventory Masters</h1>

<table>
  <thead>
    <tr>
      <th>Store inventory categories</th>
      <th>Item name</th>
      <th>Cost price</th>
      <th>Selling price</th>
      <th>Manufaturer name</th>
      <th>User</th>
      <th>Quantity</th>
      <th>Item location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_inventory_masters.each do |store_inventory_master| %>
      <tr>
        <td><%= store_inventory_master.store_inventory_categories_id %></td>
        <td><%= store_inventory_master.item_name %></td>
        <td><%= store_inventory_master.cost_price %></td>
        <td><%= store_inventory_master.selling_price %></td>
        <td><%= store_inventory_master.manufaturer_name %></td>
        <td><%= store_inventory_master.user_id %></td>
        <td><%= store_inventory_master.quantity %></td>
        <td><%= store_inventory_master.item_location %></td>
        <td><%= link_to 'Show', store_inventory_master %></td>
        <td><%= link_to 'Edit', edit_store_inventory_master_path(store_inventory_master) %></td>
        <td><%= link_to 'Destroy', store_inventory_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>
</body>

<%= link_to 'New Store Inventory Master', new_store_inventory_master_path %>

</div>
</div>
</div>
</body>