<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
			
				<button type="button" class="btn btn-primary">
					<%= link_to 'Back', store_inventory_masters_path %>
				</button>
				

				<%= render 'form', store_inventory_master: @store_inventory_master %>
			</div>
		</div>
	</div>
</body>
