


<body>
<div class="reg-w3">
<div class="w3layouts-main">
 <!--  <h2>Register Now</h2> -->




   
   
<h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

  <div class="ggg">

    <%= f.input :username, autofocus: true, autocomplete: "username" , placeholder: 'username' ,html_input:{style:"width:70%;height:20%;"} %>
  </div>

   <div class="ggg">

    <%= f.input :fullname, autofocus: true, autocomplete: "fullname" , placeholder: 'fullname' ,html_input:{style:"width:70%;height:20%;"} %>
  </div>
   <div class="ggg">
  
    <%= f.input :email , autofocus: true, class: "ggg", autocomplete: "email " , placeholder: 'email ' %>
  </div>

  <div class="ggg">
   
    <%= f.input :password, autocomplete: "off",class: "ggg",placeholder: 'password' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
   
  </div>

  <div class="ggg">
    
    <%= f.input :password_confirmation, autocomplete: "off",class: "ggg" ,placeholder: 'password confirmation'%>
  </div>

   <div class="ggg">
 
    <%= f.input :role_id, collection: Role.all, label_method: :role_name, value_method: :id,class: "ggg" %>
  </div>




  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>





</div>
</div>
</body>


