
<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content-m">
            <%= simple_form_for(@assigned_requests) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                <div class="form-inputs" style="margin-left: -229px;">
                  <!-- Passing Parameters from store requests as values to form.
                      ** Store Inventory Master ID, Store Category ID and Store Request ID inputs hidden from user interface.
                  -->
                  <div class= "small_boxes">
                    <!--Store Request ID Input -->
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">

                            <%= f.input :store_request_id , :as => :hidden, input_html: {value: @store_req_id}%>

                          </div>
                        </div>
                      </div>


                    <!--Store Inventory Master ID Input -->
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">

                            <%= f.input :store_inventory_master_id, :as => :hidden, input_html: {value:@store_inventory_master}  %>

                        </div>
                      </div>
                    </div>


                    <!--Store Category ID Input -->
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">

                          <%= f.input :store_inventory_categories_id, :as => :hidden, input_html: {value:  @category_id } %>

                          </div>
                      </div>
                    </div>
                  </div>
                  <!--Small Boxes Div Ends -->


                  <div class="form_display_details">
                    <div class="show_details">
                        <h5  id="display-color"> Store Category </h5>
                        <p style="font-weight:600;"> <%= @category_name %> </p>
                    </div>

                    <div class="show_details" style="margin-left:-1000px;">
                        <h5 id="display-color"> Item Name </h5>
                        <p style="font-weight:600;"> <%= @name_of_item %> </p>
                    </div>

                  </div>


                  <div class="rowe">
                    <div class="col-sm-6">
                      <div class="form-group">

                        <%= f.input :quantity %>

                      </div>
                    </div>
                  </div>



                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group-e">
                          <%= f.input :user_id,
                          input_html: { value: @user} %>
                      </div>
                    </div>
                  </div>

                    <div class="date_disp" style="margin-top: 11px;">
                      <p style="font-size:0.875rem;"> Date </p>
                      <div class="d-flex align-items-center flex-wrap text-nowrap">
                        <div class="input-group date datepicker dashboard-date mr-2 mb-2 mb-md-0 d-md-none d-xl-flex" id="dashboardDate">
                          <span class="input-group-addon bg-transparent">
                            <i data-feather="calendar" class=" text-primary"></i>
                              <%= f.input :date_assigned, as: :string, :label => false %>
                          </span>
                        </div>
                      </div>
                    </div>



                  <div class="row" style= "margin-top: 1.5rem;">
                    <div class="col-sm-6">
                      <div class="form-group" style="display:flex;">

                          <%= f.input :comments %>

                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">

                          <%= f.input :status %>

                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">

                          <%= f.input :store_manager_id %>

                      </div>
                    </div>
                  </div>

                </div>

              <div class="form-actions">
                <button type="button" class ="btn btn-success">
                  <i class="btn-icon-prepend" data-feather="check-square"></i>
                  <%= f.button :submit,'Assign request' %>
                </button>
              </div>

            <% end %>

        </div>
      </div>
    </div>
</body>
