<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<p id="notice"><%= notice %></p>

<h1>Assigned Requests</h1>

<table>
  <thead>
    <tr>
      <th>Store inventory master</th>
      <th>Store inventory categories</th>
      <th>Quantity</th>
      <th>User</th>
      <th>Date assigned</th>
      <th>Comments</th>
      <th>Status</th>
      <th>Store manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_requests.each do |assigned_request| %>
      <tr>
        <td><%= assigned_request.store_request_id %></td>
        <td><%= assigned_request.store_invent_master %></td>
        <td><%= assigned_request.store_invent_cat %></td>
        <td><%= assigned_request.assigned_quantity %></td>
        <td><%= assigned_request.assigned_to_user %></td>
        <td><%= assigned_request.assigned_date %></td>
        <td><%= assigned_request.assigning_comments %></td>
        <td><%= assigned_request.assigned_status %></td>
        <td><%= assigned_request.assigned_by_store_manager %></td>
        <td><%= link_to 'Show', assigned_request %></td>
        <td><%= link_to 'Edit', edit_assigned_request_path(assigned_request) %></td>
        <td><%= link_to 'Destroy', assigned_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
</div>
</body>
<%= link_to 'New Assigned Request', new_assigned_request_path %>
