<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

            <button type="button" class="btn btn-primary">
					<%= link_to 'Back',assigned_requests_path %>
			</button>

            <%= render 'form', assigned_request: @assigned_requests %> 


            </div>
        </div>
    </diV>
</body>
