
<div id="pager">
<div class="modal-dialog">
  <div class="modal-content-y">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>

      <h4 class="modal-title"> select all items</h4>
    </div>
    <div class="modal-body" id = 'check_form'>


<div class="search2">
  <p>
    <%=form_tag checkout_path, method: :get,class:"lus",remote:true, 'data-target' => '#myModal1' do %>
    <input  placeholder="name" name="search" value=""/>
    <%= submit_tag "Search" %>
    <% end %>
    </p>
</div><%= simple_form_for @store_request,url:back_to_form_path, :html => { :name => 'checkout-form', :id => 'checkout_form'  }, :validate => true, remote:true  do |f| %>



      <div class="table-responsive">
        <table class="table table-hover mb-0">
        <button type="button" id="caty-button2" class="btn btn-success" style="margin-bottom:15px; float:left; color:white;">Check All</button>
          <thead>
            <tr>
              <th class="pt-0"></th>
              <th class="pt-0">Item Name</th>
              <th class="pt-0">Available Quantity</th>
              <th class="pt-0">Quantity</th>
         </tr>

          </thead>
          <tbody>
            <% @store_inventory_masters.each do |items_lists| %>
            <tr>
              <div class="checkbox-group required">
                <td id ="checked_box"><%= check_box_tag ("check_box[id][]"), checked_value = items_lists.id %> </td>
                <td id="name_of_items"><%= items_lists.item_name %></td>
                <td id="name_of_items"><%= items_lists.quantity %></td>
                <td id="quantity_use"><%= f.input :quantity, required: true, autofocus: true, input_html: { multiple:true, :id => "quantity_input" } , label:false, placeholder: "please enter a quantity and check the box" %>
                <span class="error_form" id="quantity_error_message"></span>
                </td>
              </div>
            </tr>

            <% end %>



          </tbody>
        </table>
        <div class="form-actions">
          <%= f.button :submit ,"Submit" , :id=> "addmore-submit"%>

        </div>
        <div id="show_me">

        </div>
      </div>

      <div class="load-more-container">
        <%= link_to "Load More", checkout_path, class: "load-more",remote: true %>
      </div>


  <% end %>


</div>

</div>

</div>
</div>

#  Checkout JS
<script>
  $('#caty-button2').on("click", function(){
    var cbxs = $('input[type="checkbox"]');
    cbxs.prop("checked", !cbxs.prop("checked"));
  });

  $("#quantity_error_message").hide();

    var error_quantity = false;

    $("#quantity_input").focusout(function(){
            check_quant();
    });

    function check_quant() {

        var quantity = $("#quantity_input").val();
        if (quantity > 0 && quantity !== '') {
            $("#quantity_error_message").hide();
            $("#quantity_input").css("border-bottom","2px solid #34F458");
        } else {
            $("#quantity_error_message").html("Should contain only positive integers");
            $("#quantity_error_message").show();
            $("#quantity_input").css("border-bottom","2px solid #F90A0A");
            error_quantity = true;
        }
    }


    $("#checkout_form").submit(function() {
        error_quantity = false;

        $("#checkout_form input[type=checkbox]").each(function() {
          if($(this).prop("checked") == true){
            check_quant();

            if (error_quantity === false) {
              return true;
            } else {
              return false;
            }

          }
        });
      });
</script>
