
<div id="pager">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>


      <h4 class="modal-title"> select all items</h4>
    </div>
    <div class="modal-body" id = 'check_form'>


<div class="search2">
  <p>
    <%=form_tag checkout_path, method: :get,class:"lus",remote:true, 'data-target' => '#myModal1' do %>
    <input  placeholder="name" name="search" value=""/>
    <%= submit_tag "Search" %>
    <% end %>
    </p>
</div>

<%= simple_form_for @store_request,url:back_to_form_path, validate: true, remote:true  do |f| %>



      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th class="pt-0"></th>
              <th class="pt-0">Item Name</th>
              <th class="pt-0">Available Quantity</th>
              <th class="pt-0">Quantity</th>
         </tr>

          </thead>
          <tbody>
            <% @store_inventory_masters.each do |items_lists| %>
            <tr>

              <td><%= check_box_tag ("check_box[id][]"), checked_value = items_lists.id %> </td>
              <td id="name_of_items"><%= items_lists.item_name %></td>
              <td id="name_of_items"><%= items_lists.quantity %></td>
              <td id="quantity_use"><%= f.input :quantity, input_html: { multiple:true } , label:false %></td>

            </tr>

            <% end %>

          </tbody>
        </table>
        <div class="form-actions">
          <%= f.button :submit ,"Submit" , :id=> "addmore-submit"%>

        </div>
        <div id="show_me">


          </div>
      </div>

        <div class="load-more-container">
         <%= link_to "Load More", checkout_path, class: "load-more",remote: true %>
        </div>


  <% end %>


</div>

</div>

</div>
</div>
