$("#myModal1").html("<%= escape_javascript (render 'checkout') %>");
$("#myModal1").modal().modal-dialog-scrollable;
$('body').removeClass('modal-open');

if (document.getElementById('check_box_id_').checked >= 1){
    alert("Checked")
} else {
    alert("Unchecked")
}
