<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<%= render 'form', store_request: @store_request %>

<%= link_to 'Show', @store_request %> |
<%= link_to 'Back', store_requests_path %>
</div>
</div>
</div>
</body>
