
 $(document).ready(function(){
 
   <%@store_items_save.each do |user|%>

    $('.item-select').append('<p><%= user.item_name%></p>')
    $('.quantity-select').append('<p style="text-align: center;"><%= user.temp_quantity %></p>')

    $('div#show_me').append( '<div class ="FormationsForm"><input type="hidden" name="[quantity][]" class="input-large" value= <%= user.temp_quantity %>>'+
            '<button class="removeNewFormation" type="button">remove</button>    </div>');

    $('div#show_me').append( '<div class ="FormationsForm" ><input type="hidden" name="[store_inventory_master_id][]" class="input-large" value= <%= user.id %>>'+
            '<button class="removeNewFormation" type="button">remove</button>    </div>');
 <% end %>


     $("div#show_me").on('click', '.removeNewFormation', function(){
        $(this).closest('.FormationsForm').remove();
    });
  });



$("#myModal1").modal('hide')

$(".modal-backdrop ").remove();

