<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

			<button type="button" class="btn btn-primary" style= "margin-top: 10px; margin-left: 7px;">

				<%= link_to 'Back', store_requests_path %>
			</button>

			<%= render 'form', store_request: @store_request %>


</div>
</div>
</div>
</body>
