<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
      <div class="panel panel-default">
        <div class="row2">
          <% if (defined?(@blood_pressure)).nil? %>
          <% else  %>
          <% end %>
        </div>
        <br>
        <br>
        <div class="panel-heading">
          Lab Requests
        </div>
        <div style="overflow-x:auto;">
          <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
            <thead>
              <tr>
                <th data-breakpoints="xs">No</th>
                <th>Patient No</th>
                <th>Name</th>
                <th>Lab Requested</th>
                <th>Date Ordered</th>
                <!-- <th>Ordered by</th> -->
                <th colspan="3"></th>
                <th colspan="3"></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% count=1 %>
              <% @lab_requests.each do |patient| %>
                <tr>
                  <td id="whitespace"><%= count %></td>
                  <td id="whitespace"><%= patient.card_no%></td>
                  <td id="whitespace"><%= patient.other_names + " " +  patient.surname %></td>
                  <td id="whitespace"><%= patient.service_name%></td>
                  <td id="whitespace"><%= patient.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                  <td id="whitespace"><%= link_to 'View', view_lab_path(:id => patient.patient_id),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
                  <td id="whitespace" ><%= link_to 'Delete', delete_lab_record_path(:created_at => patient.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                </tr>
                <% count=count+1 %>
              <% end %>
            </tbody>
          </table>
          <% if current_user.role_id == 3 %>
          <%else%>
            <center>
              <%= link_to  'Request Lab ', lab_form_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>
            </center>
          <%end%>
          <br>
          <center>
            <div class="digg_pagination">
              <%= will_paginate @lab_requests %>
            </div>
          </center>
        </div>
      </div>
    </section>
  </section>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Request lab for patient</h4>
        </div>
        <div class="modal-body" id = 'hi'>
          <%= render "lab_form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Lab Details</h4>
        </div>
        <div class="modal-body" id = 'hii'>
          <%= render "view_lab" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
