



<div class="table-agile-info">



  
 <table class="custab table table-striped table-hover table-bordered">

          <tr>
            <% if (defined?(@incident1)).nil? %>
                  <% else  %>

       

            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Incident Type</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @incident1.incident_type %></td>
          </tr>
           <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Description</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @incident1.incident_description %></td>
          </tr>
           
            <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Action Taken</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @incident1.action_taken %></td>
          </tr>

           
               <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Date</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @incident1.created_at %></td>
              </tr>
         
 <% end %>

          
         
           </table>


</div>







