

<section id="main-content">
  <section class="wrapper">

    <fieldset>
      <div class="row2 col-md-8 col-md-offset-1 custyle">
        <div class="row2">
          <div class="container">
            <div class="card-container.card"
            <div class="col-md-10  col-md-offset-1">

            </div>
            </div>
            </div>
            </div>
            </div>
            </fieldset>

            <div class="table-agile-info">
            <div class="panel panel-default">
            <div class="panel-heading">
            Incident Reports
            </div>
            <div style="overflow-x:auto;">
            <table class="table" ui-jq="footable" ui-options='{
            "paging": {
            "enabled": true
            },
            "filtering": {
            "enabled": true
            },
            "sorting": {
            "enabled": true
            }}'>
            <thead>
            <tr>

             <th>No</th>
           <th>Incident type</th>
      <th> Date of Incident</th>
      <th> Description</th>
      <th>Action taken</th>
    
           
            
            </tr>
            </thead>
            <tbody>
            <% count=1 %>

            

            <% @incident_reports.each do |incident_report| %>
            <tr>

            <td><%= count %></td>
           <td><%= incident_report.incident_type %></td>
        <td><%= incident_report.incidate_date %></td>
        <td><%= incident_report.incident_description %></td>
        <td><%= incident_report.action_taken %></td>
      

          

          

            <td ><%= link_to 'View Full Report', view_report_path(:id => incident_report.id), {:remote => true, class:'"btn btn-primary btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal5'} %></td>

              </tr>

              <% count=count+1 %> 

              <% end %>

              </tbody>

              </table>
             

              <center>
                <%= link_to  '<i class="fa fa-plus"></i> &nbsp; New Incident Report'.html_safe, incident_form_path, {:remote => true, :class => "btn btn-danger btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>
            
                </center>
              <br>

            </div>
          </div>
        </div>
  </section>

</section>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"> Create Incident Report</h4>
      </div>
      <div class="modal-body" id = 'incident_form'>
        <%= render "incident_form" %>
      </div>

    </div>

  </div>
</div>

<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"> Full Report</h4>
      </div>
      <div class="modal-body" id = 'hey'>
        <%= render "view_report" %>
      </div>

    </div>

  </div>
</div>