<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <table class="custab table table-striped table-hover table-bordered">
      <br>
      <br>
      <br>
      <div>
        <table class="table" ui-jq="footable" ui-options='{
				"paging": {
				"enabled": true
				},
				"filtering": {
				"enabled": true
				},
				"sorting": {
				"enabled": true
				}}'>
          <thead>
            <tr>
              <th>Patient</th>
              <th>Service</th>
              <th>Cost(GHc)</th>
              <th>Date</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @bill_histories.each do |bill_history| %>
              <tr>
                <td><%= bill_history.other_names + " " + bill_history.surname %></td>
                <td><%= bill_history.service_name %></td>
                <td><%= bill_history.price %></td>
                <td><%= bill_history.created_at.strftime("%B %d, %Y, %H:%M") %></td>
                <% if current_user.role_id == 8 %>
                  <td class="bill_history-<%= bill_history.id %>"> <%= link_to "#{ bill_history.status ? 'Paid' : 'Oustanding' }", outstanding_path(:id => bill_history.id),{remote: :true, class: "btn btn-xs btn-#{ bill_history.status  ? 'success' : 'warning' }"} %> </td>
                <% else%>
                  <td <%= bill_history.id %>"> <%= "#{ bill_history.status ? 'Paid' : 'Oustanding' }" %> </td>
                <% end %>
                <td ><%= link_to 'Delete', delete_bill_record_path(:created_at => bill_history.created_at),
                {class:'"btn btn-info btn-sm btn3d"', data: { confirm: "Do you want to delete this record?" }}%></td>
                <td><%= link_to 'Print', print_bill_path(:id => bill_history.id, format: "pdf" ),
    target: "_blank" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= 'Amount Due = GHC ' %>
        <%= @total  %>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
