<section id="main-content">
  <section class="wrapper">
     
  <div class="table-agile-info">
 <div class="panel-default"> 
 
<div class="invoice">
<div class="imgup1">
        <img width="230" height="70" src=/assets/logo2.png  >
        <!-- <img src="http://localhost:3000/assets/logo2.png" width="230" height="70" /> -->
        </div>
  <h1>Britannia Receipt</h1>
 
  <h3>To: <%= @bill_histories[0].surname + " " + @bill_histories[0].other_names %></h3>
  <h3>Date: <%= @bill_histories[0].created_at.strftime("%B %d, %Y") %></h3>
 
  <table>
    <thead>
        <tr>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @bill_histories.each do |item| %>
          <tr>
            <td><%= item.service_name %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
        <tr class="total">
          <td style="text-align: right">Total: </td>
          <td><%= @total %></span></td> 
        </tr>
      </tbody>
  </table>

<%= link_to "Download PDF",
    view_reciept_path(:id => @bill_histories[0].patient_id, format: "pdf"),
    target: "_blank",
    class: "download" %>  

     <%#= link_to "Download PDF",
    bill_temp_download_path(@bill_histories, format: "pdf"),
    target: "_blank",
    class: "download" %> 


 

</div>
 </div></div>   
</section>
 
</section>