<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<h1>Editing Dispensary</h1>

<%= render 'form', dispensary: @dispensary %>

<%= link_to 'Show', @dispensary %> |
<%= link_to 'Back', dispensing_path %>

</div>
</div>
</div>
</body>
