
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading">
    Treatment Sheets
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
         <tr>
       <th>Drugs</th>
                <th>Time</th>
                <th>Assigned by</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @treatment_sheets.each do |treatment_sheet| %>
      <tr>
        <td><%= treatment_sheet.drugs %></td>
        <td><%= treatment_sheet.time %></td>
         <td><%= treatment_sheet.fullname %></td>
        <td><%= link_to 'Show', treatment_sheet %></td>
        <td><%= link_to 'Edit', edit_treatment_sheet_path(treatment_sheet) %></td>
        <td><%= link_to 'Destroy', treatment_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


       <center>

<%= link_to 'New Drug', new_treatment_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Give Drug</h4>
      </div>
      <div class="modal-body" id = 'id1'>
      <%= render "new_treatment" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




