<p id="notice"><%= notice %></p>

<p>
  <strong>Drugs:</strong>
  <%= @treatment_sheet.drugs %>
</p>

<p>
  <strong>User:</strong>
  <%= @treatment_sheet.user_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @treatment_sheet.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @treatment_sheet.status %>
</p>

<%= link_to 'Edit', edit_treatment_sheet_path(@treatment_sheet) %> |
<%= link_to 'Back', treatment_sheets_path %>
