# View is a simple form
<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="page-content">
        <div class="search3"style="margin-top: 100px;">
          <p>
            <%=form_tag assigned_requests_path, method: :get,class:"lus" do %>

            <!-- <input  placeholder="Search for category" name="search" value=""/> -->
            <%= select_tag "category", options_from_collection_for_select(@show_categories, "id", "name")%>


            <%= submit_tag "Search" %>
            <% end %>
            </p>
        </div>

        <%= simple_form_for(@dispensary, url: confirm_dispense_path, :method => :get, :remote => true) do |f| %>
          <div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card-req-y">
              <div class="card-body-special-e" style="text-align:center;">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title-e mb-0">Assigned Requests</h6>

                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <button type="button" id="caty-button" class="btn btn-success" style="float: left; color:white;">Check All</button>
                    <thead>
                      <tr>
                        <th></th>
                          <th>Store inventory master</th>
                          <th>Store inventory categories</th>
                          <th>Quantity</th>
                          <th>User</th>
                          <th>Date assigned</th>
                          <th>Comments</th>
                          <th>Status</th>
                          <th>Store manager</th>
                          <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @assigned_requests.each do |assigned_request| %>
                        <tr>
                          <td><%= check_box_tag ("assigned_request[id][]"), checked_value = assigned_request.id %> </td>
                          <td><%= assigned_request.item_name %></td>
                          <td><%= assigned_request.category_name %></td>
                          <td><%= assigned_request.assigned_quantity %></td>
                          <td><%= assigned_request.requesting_user %></td>
                          <td><%= assigned_request.assigned_date %></td>
                          <td><%= assigned_request.comments %></td>
                          <td><%= assigned_request.assigned_status %></td>
                          <td><%= assigned_request.assigned_by_store_manager %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <div style="margin-top: 80px;">
            <%= will_paginate @assigned_requests %>
          </div>

          <%= f.button :submit, 'dispense', { 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg' } %>
        <% end %>
      </div>
    </div>
  </div>
</body>
        

<script>
  $('#caty-button').on("click", function(){
    var cbxs = $('input[type="checkbox"]');
    cbxs.prop("checked", !cbxs.prop("checked"));
  });
</script>

<!-- Modal Call  -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>
