<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="page-content">
        <div class="col-lg-7 col-xl-8 stretch-card">
          <div class="card-req">
            <div class="card-body-special-z">
              <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h6 class="card-title mb-0">Dispensary Technologist</h6>
                <div class="dropdown mb-2">
                  <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                    <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                    <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                    <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                    <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                    <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>

                      <th class="pt-0">Item Name </th>
                      <th class="pt-0">Quantity </th>
                      <th class="pt-0">Selling Price </th>
                      <th class="pt-0">Manufacturer Name </th>
                      <th class="pt-0">Comments</th>
                      <th class="pt-0">Date_Dispensed</th>

                    </tr>
                  </thead>
                  <tbody>
                    <% @dispensaries.each do |dispensary| %>
                      <tr>
                        <td><%= dispensary.dispensary_item_name%></td>
                        <td style="text-align:center;"><%= dispensary.dispensed_quantity%></td>
                        <td style="text-align:center;"><%= dispensary.dispensary_item_selling_price %></td>
                        <td style="text-align:center;"><%= dispensary.dispensed_item_manufacturer %></td>
                        <td style="text-align:center;"><%= dispensary.dispensary_comments %></td>
                        <td style="text-align:center;"><%= dispensary.dispensed_date %></td>

                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>

              <br>

              <%= will_paginate @dispensaries %>
            </div>


          </div>
          <div style="margin-top: 80px;">
            <%= will_paginate @assigned_requests %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
