<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card-req">
              <div class="card-body-special">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0">Items Purchased</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>

                        <th class="pt-0">Category Name</th>
                        <th class="pt-0">Item Name</th>
                        <th class="pt-0">Quantity</th>
                        <th class="pt-0">Cost Price</th>
                        <th class="pt-0">Date of Purchase </th>
</tr>
                    </thead>
                    <tbody>
                      <% @store_purchases.each do |items_puchase| %>
                      <tr>
                        <%# <!-- <td><%= check_box_tag "assigned_requests_id",new_assigned_request_path(:id =>items_puchase.id) %> </td>
                        <td><%= items_puchase.name %></td>
                        <td><%= items_puchase.item_name %></td>
                        <td><%= items_puchase.quantity %></td>
                        <td><%= items_puchase.cost_price %></td>
                        <td><%= items_puchase.date_of_purchase %></td>

                      </tr>
                      <% end %>
                    </tbody>


                  </table>

                </div>
                <div class="caty-catz">
                <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                    <%= link_to 'Create New Store Purchase',new_store_purchase_path  %>
                </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

</div>


</body>
