<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

<div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card-req">
              <div class="card-body-special-e">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title mb-0 mb-0-y">Store Receipts</h6>
                  <div class="dropdown mb-2">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <%# <th class="pt-0">#</th> %>
                        <th class="pt-0">Purchase_Item</th>
                        <th class="pt-0">Receipt_Image</th>
                        <th class="pt-0">User</th>
                        <th class="pt-0">Comments</th>
                        <th class="pt-0">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%  @purchase_receipts.each do |purchase_list| %>
                        <tr class="tdd">
                        <td><%=purchase_list.item_name%></td>
                        <td><%=purchase_list.image%></td>
                        <td><%=purchase_list.user_id%></td>
                        <td><%=purchase_list.comments%></td>
                        <td><%=purchase_list.status%></td>
                      </tr>
                    </tbody>

                    <% end %>
                  </table>


                </div>

              </div>
              <div class="caty-caty" style="margin-top: -120px; margin-bottom: 150px;">
                    <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                      <%=link_to "Upload Receipt", new_purchase_receipt_path %>
                    </button>
                  </div>
            </div>
            </div>


        </div>
        </div>
        </div>

        </body>
