

<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="page-content">
        <div class="search3"style="margin-top: 100px;">
          <p>
            <%=form_tag requests_path, method: :get,class:"lus" do %>

            <!-- <input  placeholder="Search for category" name="search" value=""/> -->
             <%= select_tag "category", options_from_collection_for_select(@show_categories, "id", "name")%>


            <%= submit_tag "Search" %>
            <% end %>
            </p>
        </div>
<%= simple_form_for(@store_request, url: retrive_path) do |f| %>
<div class="col-lg-7 col-xl-8 stretch-card">
  <div class="card-req">
    <div class="card-body-special" style="margin-top: -25px;">
      <div class="d-flex justify-content-between align-items-baseline mb-2">
        <h6 class="card-title mb-0" style="font-size: x-large;">Received Requests</h6>

        <div class="caty-caty" style="float: right; margin-right: -500px;">
          <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
            <%=link_to "Make A Request", new_store_request_path %>
          </button>
        </div>
        <div class="dropdown mb-2">
          <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th> </th>
              <th class="pt-0">Category Name</th>
              <th class="pt-0">STORE MASTER ID </th>
              <th class="pt-0">Item Name </th>
              <th class="pt-0">Quantity Requested</th>
              <th class="pt-0">Date Requested</th>
              <th class="pt-0">Request User</th>
              <th class="pt-0">Comments</th>
              <th class="pt-0">Status</th>
            </tr>
          </thead>
          <tbody>
              <% @store_requests.each do |request_list| %>
            <tr class="tdd">
              <td><%= check_box_tag ("store_request[id][]"),checked_value = request_list.id %> </td>
              <td><%=request_list.category_name%></td>
              <td><%=request_list.store_inventory_master_id%></td>
              <td><%=request_list.item_name%></td>
              <td><%=request_list.requested_quantity%></td>
              <td><%=request_list.date_requested%></td>
              <td><%=request_list.requesting_user%></td>
              <td><%=request_list.comments%></td>
              <td><%=request_list.status%></td>

            </tr>

          </tbody>

          <% end %>

        </table>
        <div class="load-more-container">
         <%= link_to "Load More", requests_path, class: "load-more" %>
        </div>
      </div>

    </div>
    <div class="caty-catz" style="margin-left: 435px;">
      <button type="button" id="caty-button" class="btn btn-success" style="width:max-content; color:white;float: left;">
        <%= f.button :submit, 'Confirm Selected Items', :style =>"color:white;" %>
      </button>
    </div>
    </div>
    <% end %>

    </body>




<script>
$('#caty-button1').on("click", function(){
  var cbxs = $('input[type="checkbox"]');
  cbxs.prop("checked", !cbxs.prop("checked"));
});
</script>
