<section id="main-content">
  <section class="wrapper">
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     
    </div>
    <div class="panel-body">
                            <div class="position-center">
  
    <div style="overflow-x:auto;">

 <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
  <thead>
    <tr>
      <th>Order name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_masters.each do |order_master| %>
      <tr>
        <td><%= order_master.order_name %></td>
        <td><%= order_master.status %></td>
        <td><%= link_to 'Show', order_master %></td>
        <td><%= link_to 'Edit', edit_order_master_path(order_master) %></td>
        <td><%= link_to 'Destroy', order_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order master', new_order_master_path , class:'btn btn-success' %>
<br>  




    </div>
  </div>
</div>
</section>
 
</section>