<p id="notice"><%= notice %></p>

<p>
  <strong>Order name:</strong>
  <%= @order_master.order_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_master.status %>
</p>

<%= link_to 'Edit', edit_order_master_path(@order_master) %> |
<%= link_to 'Back', order_masters_path %>
