<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<h1>Editing Store Purchase</h1>

<%= render 'form', store_purchase: @store_purchase %>

<%= link_to 'Show', @store_purchase %> |
<%= link_to 'Back', store_purchases_path %>
</div>
</div>
</div>


</body>
