<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">

			<button type="button" class="btn btn-primary">
					<%= link_to 'Back', item_purchase_path %>
			</button>


			<%= render 'form', store_purchase: @store_purchase %>

</div>
</div>
</div>
</body>
