<section id="main-content">
  <section class="wrapper">
<div class="center jumbotron" style="background-color:#fff;" >


  <br/>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <fieldset>
        <legend>Summary</legend>
        <table class="custab table table-striped table-hover table-bordered">

          <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">surname:</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patient.surname %></td>
          </tr>
          <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">surname:</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patient.surname %></td>
          </tr>
          <tr>
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">surname:</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @patient.surname %></td>
          </tr>
          
         
           </table>
           <%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
      </fieldset>
    </div>
  </div>
</div>



</section>
 
</section>




