<body class="sidebar-dark">
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="page-content">

        <%= simple_form_for @store_inventory_category, html: { :name => 'inventory-category-form', :id => 'category_inventory_form'} do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs" style="margin-bottom: 25px;">
            <div>
              <%= f.input :name,  input_html: { :id => "validate_category_name" } %>
              <span class="error_form" id="inventory_name_error_message"></span>
            </div>

            <%= f.input :status, :as => :hidden %>

          </div>
          <div class="form-actions">
            <button type="button" id="caty-button" class="btn btn-success" style="width:max-content; color:white;">
                <i class="btn-icon-prepend" data-feather="check-square"></i>
                <%= f.button :submit, :id => "btn_white"%>
            </button>
            
            <%= f.button :button, 'Cancel', type: :reset,  class: 'btn btn-success', :style => "height:45px;", :id => "btn_white" %>
          
          </div>

        <% end %>
      </div>
    </div>
  </div>
</body>

<script>
  $("#inventory_name_error_message").hide();



    var error_name = false;
  
  
    $("#validate_category_name").focusout(function(){
      check_category_name();
    });

   

   
    
    function check_category_name() {
      var pattern = /^[a-zA-Z\s]*$/; ;
      var cat_name = $("#validate_category_name").val();
      if (pattern.test(cat_name) && cat_name !== '') {
         $("#inventory_name_error_message").hide();
         $("#validate_category_name").css("border-bottom","2px solid #34F458");
      } else {
         $("#inventory_name_error_message").html("Should contain only Characters");
         $("#inventory_name_error_message").show();
         $("#validate_category_name").css("border-bottom","2px solid #F90A0A");
         error_name = true;
      }
   }

  
    $("#category_inventory_form").submit(function() {
      
      error_name = false;

      check_category_name();
     
      

      if (error_name === false ) {
           return true;
        } else {
           return false;
        }
     });
</script>
