
<body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        	<div class="page-content">
<h1>Editing Store Inventory Category</h1>

<%= render 'form', store_inventory_category: @store_inventory_category %>

<%= link_to 'Show', @store_inventory_category %> |
<%= link_to 'Back', store_inventory_categories_path %>

</div>
</div>
</div>
</body>
