

  <body class="sidebar-dark">
  	<div class="main-wrapper">
      <div class="page-wrapper">
        <div class="page-content">


          <div class="col-lg-7 col-xl-8 stretch-card">
            <div class="card-req">
              <div class="card-body-special-e">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                  <h6 class="card-title-e mb-0 mb-0-y">Inventory Categories</h6>
                  <div class="dropdown mb-2-y">
                    <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye" class="icon-sm mr-2"></i> <span class="">View</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2" class="icon-sm mr-2"></i> <span class="">Edit</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash" class="icon-sm mr-2"></i> <span class="">Delete</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer" class="icon-sm mr-2"></i> <span class="">Print</span></a>
                      <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download" class="icon-sm mr-2"></i> <span class="">Download</span></a>
                    </div>
                  </div>
                </div>

                <div class="table-responsive-y">
                  <table class="table table-hover mb-0">
                    <thead>
                      <tr>
                        <th class="pt-0">Name</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @store_inventory_categories.each do |store_inventory_category| %>
                      <tr class="tdd">
                          <td><%= store_inventory_category.name %></td>
                          <td><%= link_to 'Show', store_inventory_category %></td>
                          <td><%= link_to 'Edit', edit_store_inventory_category_path(store_inventory_category) %></td>
                          <td><%= link_to 'Destroy', store_inventory_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-actions" style="text-align:center;">
                <button type="button" id="caty-button" class="btn btn-success" style="width:max-content;">
                  <%= link_to 'Create Inventory Category', new_store_inventory_category_path %>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
