<section id="main-content">
  <section class="wrapper">
    <p id="notice"><%= notice %></p>
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     
    </div>
    <div class="panel-body">
                            <div class="position-center">
  
    <div style="overflow-x:auto;">

 <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
  <thead>
    <tr>
      <th>Category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_name %></td>
        
        <td><%= link_to 'Edit', edit_category_path(category) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>


    </div>
  </div>
</div>
</section>
 
</section>



