
<%= simple_form_for(@basic_med_record) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :patient_id %>
    <%= f.input :blood_pressure %>
    <%= f.input :pulse %>
    <%= f.input :temp %>
    <%= f.input :respiratory_rate %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
