<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
			<div class="panel panel-default">
				<div class="panel-heading">

				</div>
				<div class="panel-body">
					<div class="position-center">
						
						<div>

							<table class="table" ui-jq="footable" ui-options='{
							"paging": {
							"enabled": true
							},
							"filtering": {
							"enabled": true
							},
							"sorting": {
							"enabled": true
							}}'>
								<thead>
									<tr>
										<th>Lab name</th>
										<th>Price</th>
										
										<th colspan="3"></th>
									</tr>
								</thead>

								<tbody>
									<% @lab_order_lists.each do |lab_order_list| %>
									<tr>
										<td><%= lab_order_list.lab_name %></td>
										<td><%= lab_order_list.price %></td>
										
										<td><%= link_to 'Show', lab_order_list %></td>
										<td><%= link_to 'Edit', edit_lab_order_list_path(lab_order_list) %></td>
										<td><%= link_to 'Destroy', lab_order_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
									</tr>
									<% end %>
								</tbody>
							</table>

							<br>

							<%= link_to 'New Lab order list', new_lab_order_list_path %>

						</div>
					</div>
				</div>
	</section>

</section>




