
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">


    <div class="panel-heading">
  Admission documents by Practitioner
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
 
      <th>Date </th>
      <th>Created by</th>
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @clinic_documents.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
        
         
      
         <td><%= patient.created_at.strftime("%B %d, %Y, %H:%M") %></td>
         <td><%= patient.fullname %></td>
         
          <td ><%= link_to 'View Documents', view_doctor_admission_doc_path(:id => patient.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td> 
         
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

      <% if current_user.role_id == 3 %>

<%else%>
 <center>
 <%= link_to  'New Admission Documents', doctor_admission_vitals_doc_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   
<%end%>

  </div>
</div>
</section>
 
</section>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Admission Document</h4>
      </div>
      <div class="modal-body" id = 'doc1'>
      <%= render "doctor_admission_vitals_doc" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Clinic Document Details</h4>
      </div>
      <div class="modal-body" id = 'fill'>
      <%= render "view_doctor_admission_doc" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


