
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading">
  Admissions
    </div>
    
    <div style="overflow-x:auto;">
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
         <tr>
      <th>Patient</th>
      <th>Admission note</th>
      <th>Assigned by</th>
      <th>Date</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
        <td><%= admission.surname + " " + admission.other_names %></td>
        <td><%= admission.admission_note %></td>
        <td><%= admission.fullname %></td>
        <td><%= admission.created_at.strftime("%B %d, %Y, %H:%M")  %></td>

        <!--   <td ><%#= link_to 'Discharge Patient', discharge_note_path(:id => admission.created_at),
                {:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal3',  data: { confirm: "Do you want to discharge #{admission.other_names.upcase + " " +  admission.surname.upcase} ?" }}%></td> -->



                 <% if  admission.status %>
             <td ><%= link_to 'Discharge Patient', discharge_note_path(:id => admission.created_at), {:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal3',  data: { confirm: "Do you want to discharge #{admission.other_names.upcase + " " +  admission.surname.upcase} ?"}} %></td>
        
            
            <% else%>
            <td >

         DISCHARGED
               

            </td>
            <% end %>
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>


       <center>

<%= link_to 'New Admission', patient_admission_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Admit Patient</h4>
      </div>
      <div class="modal-body" id = 'id1'>
      <%= render "patient_admission" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"> Discharge Note</h4>
      </div>
      <div class="modal-body" id = 'discharge'>
        <%= render "discharge_note" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>
</div>

