
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info" style="overflow-x:auto;">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading" >
  Admissions
    </div>
    
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
         <tr>
      <th>Patient</th>
      <th>Room No</th>
      <th>Assigned by</th>
      <th>Admission Date</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admissions.each do |admission| %>
      <tr>
      
         <td id="whitespace"><%= link_to  admission.other_names.upcase + " " +  admission.surname.upcase , admission_vitals_path(:id => admission.patient_id)  %></td> 

         <td id="whitespace"><%= admission.room_no %></td>
        <td id="whitespace"><%= admission.fullname %></td>
        <td id="whitespace"><%= admission.created_at %></td>

          <% if  admission.room_no.nil?%>
          <td id="whitespace" ><%= link_to 'Add Room No', add_room_path(:id => admission.created_at),{:remote => true, class:'"btn btn-primary btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal2'} %></td> 
           <% else %>
           <td id="whitespace"></td>

           <% end%>


         <td id="whitespace"><%= link_to 'View Admission Note', view_note_path(:id => admission.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td> 

        
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>


       <center>

<%#= link_to 'New Admission', patient_admission_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>





<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Admission Note</h4>
      </div>
      <div class="modal-body" id = 'fi'>
      <%= render "view_note" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Add Room</h4>
      </div>
      <div class="modal-body" id = 'room'>
      <%= render "add_room" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Discharge Note</h4>
      </div>
      <div class="modal-body" id = 'discharge'>
      <%= render "discharge_note" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


