$("#id1").html("<%= escape_javascript(render 'admissions/patient_admission') %>");s
 $("#modal-window").html("<%= escape_javascript(render 'admissions/patient_admission') %>");
 $('#modal-window').modal('show');

 

