

               <% if (defined?(@documents)).nil? %>
               <% else  %>

<div class="row">
 <div class="col-md-12 col-md-offset-0">
   <table class="custab table table-striped table-hover table-bordered">

   
<br>


<% @documents.each do |documents| %>
  
<tr>

         <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Procedure Name</td>
         <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   documents.service_name %></td>
          
       </tr>

<tr>
         <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Cost</td>
         <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000">GHC <%=   documents.price %></td>
          
       </tr>

           <% end %>


</table>

  <p style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Nurse Notes</p>
         <p style="background-color:rgba(251, 251, 255, 0.96);color:#000000;overflow-wrap: break-word;"><%=   @documents[0].complaints %><p>
  
       
</div>
</div>

<% end %>




