<!DOCTYPE html>
<body>
  <% if user_signed_in? %>
    <section id="container">
      <header class="header fixed-top clearfix">
        <div class="brand">
          <h2 style="margin-top: 9%;margin-left: 17%">  Yarysa </h2>
          <!-- <div class="imgup">

      <img width="150" height="140" src=/assets/logo.png  >
          </div> -->
          <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
          </div>
        </div>
        <div class="top-nav clearfix">
          <!-- <img width="213" height="225" src=/assets/logo.png > -->
          <ul class="nav pull-right top-menu">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span ><%= current_user.username %></span> <b class="caret"></b> </a>
              <ul class="dropdown-menu extended logout">
                <% if current_user.role_id == 4 %>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Roles setup'.html_safe,roles_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Service Categories'.html_safe,categories_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Services setup'.html_safe,services_inventories_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Lab Orders setup'.html_safe,lab_order_lists_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Users'.html_safe,users_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
                  </li>
                <%else%>
                  <li>
                    <%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
                  </li>
                <%end%>
              </ul>
            </li>
          </ul>
        </div>
      </header>
      <aside>
        <div id="sidebar" class="nav-collapse">
          <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
              <li>

                <% if current_user.role_id == 9 %>

                <%= link_to 'Dashboard'.html_safe,root_path %>
                  <%= link_to 'Categories',categories_path,{class:"link-title"} %>
                  <%= link_to 'Item  Purchased',item_purchase_path,{class:"link-title"} %>
                    <%= link_to "Received Items", assigned_requests_path, {class:"link-title"} %>
                    <%= link_to "Incoming Requests", requests_path, {class:"link-title"} %>
                    <%=link_to "Make Item Request", new_store_request_path,{class:"link-title"} %>
                    <%= link_to "Receipts", receipts_path, {class:"link-title"} %>
  </li>

                    <% elsif current_user.role_id == 10 %>
                    <li class="sub-menu">
                      <a href="javascript:;"> <span>Dispensary Technologist</span> </a>
                      <ul class="sub">
                      <%= link_to "Received Items", assigned_requests_path, {class:"link-title"} %>
                    <%= link_to 'Dispensaries',dispensing_path,{class:"link-title"} %>
                    <% else %>
                    <% end%>
</li>
              <% if current_user.role_id == 6 %>
                <li class="sub-menu">
                  <a href="javascript:;"> <span>Receptionist</span> </a>
                  <ul class="sub">
                    <li>
                      <%= link_to "Patients",patients_path %>
                    </li>
                    <li>
                      <%= link_to 'Appointments'.html_safe,appointments_path %>
                    </li>
                    <li>
                      <%= link_to 'Patients on admission'.html_safe ,admissions_path%>
                    </li>
                    <li>
                      <%= link_to ' Discharged Patients'.html_safe ,discharged_list_path %>
                    </li>
                    <li>
                      <%= link_to ' Bills'.html_safe,bill_temps_path %>
                    </li>
                    <li>
                      <%= link_to ' Incident Reporting',incident_reports_path %>
                    </li>
                  </ul>
                </li>
              <% elsif current_user.role_id == 3 %>
                <li class="sub-menu">
                  <a href="javascript:;"> <span>Nurses</span> </a>
                  <ul class="sub">
                    <li>
                      <%= link_to 'Assigned Patients', assign_patients_path %>
                    </li>
                    <li>
                      <%= link_to 'Nurse Documents', basic_med_records_path %>
                    </li>
                  </li>
                  <li>
                    <%= link_to 'Procedures Records', nurse_procedures_path %>
                  </li>
                  <li>
                    <%= link_to 'Appointments'.html_safe,appointments_path %>
                  </li>
                  <li>
                    <%= link_to 'Patients on admission'.html_safe ,nurse_admission_list_path%>
                  </li>
                  <li>
                    <%= link_to ' Discharged Patients'.html_safe ,discharged_list_path %>
                  </li>
                  <li>
                    <%= link_to ' Bills'.html_safe,bill_temps_path %>
                  </li>
                  <li>
                    <%= link_to ' Incident Reporting',incident_reports_path %>
                  </li>
                </ul>
              </li>
              <li class="sub-menu">
                <a href="javascript:;">  <span>Books</span> </a></li>
              <ul class="sub">
                <li>
                  <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
                </li>
                <li>
                  <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
                </li>
                <li>
                  <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
                </li>
              </ul>
            </li>
          <% elsif current_user.role_id == 1 %>
            <li class="sub-menu">
              <a href="javascript:;"> <span>Practitioner</span> </a>
              <ul class="sub">
                <li>
                  <%= link_to 'Physician Specific Patients', assign_patients_path %>
                </li>
                <li>
                  <%= link_to 'Appointments',doctor_appointment_path %>
                </li>
                <li>
                  <%= link_to 'Set Orders' ,set_orders_path  %>
                </li>
                <li>
                  <%= link_to ' Incident Reporting',incident_reports_path %>
                </li>
              </li>
              <li class="sub-menu">
                <a href="javascript:;"> </i> <span>Books</span> </a>
              <ul class="sub">
                <li>
                  <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
                </li>
                <li>
                  <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
                </li>
                <li>
                  <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
                </li>
              </ul>
            </li>
          <% elsif current_user.role_id == 2 %>
            <li class="sub-menu">
              <a href="javascript:;"> <span> Laboratory </span> </a>
              <ul class="sub">
                <li>
                  <%= link_to 'Lab Requests',other_lab_path %>
                </li>
                <li>
                  <%= link_to 'Test Results',test_results_path %>
                </li>
                <li>
                  <%= link_to ' Incident Reporting',incident_reports_path %>
                </li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;"> </i> <span>Books</span> </a>
            <ul class="sub">
              <li>
                <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
              </li>
              <li>
                <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
              </li>
              <li>
                <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
              </li>
            </ul>
          </li>
        <% elsif current_user.role_id == 7 %>
          <li class="sub-menu">
            <a href="javascript:;"> <span> Radiology </span> </a>
            <ul class="sub">
              <li>
                <%= link_to 'Orders', other_radio_path %>
              </li>
              <li>
                <%= link_to 'Radio/Ultra Results',radio_test_results_path %>
              </li>
              <li>
                <%= link_to ' Incident Reporting',incident_reports_path %>
              </li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;"> </i> <span>Books</span> </a>
          <ul class="sub">
            <li>
              <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
            </li>
            <li>
              <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
            </li>
            <li>
              <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
            </li>
          </ul>
        </li>
      <% elsif current_user.role_id == 5 %>
        <li class="sub-menu">
          <a href="javascript:;"> <i class=""></i> <span>Pharmacist</span> </a>
          <ul class="sub">
            <li>
              <%= link_to 'Orders',medication_temps_path %>
            </li>
            <li>
              <%= link_to ' Incident Reporting',incident_reports_path %>
            </li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;"> </i> <span>Books</span> </a>
        <ul class="sub">
          <li>
            <%= link_to 'Current Practice Guidelines in Primary Care','/Current Practice Guidelines in Primary Care 2018.pdf', target: "_blank"  %>
          </li>
          <li>
            <%= link_to 'Standard Treatment Guideline','/STG15.pdf', target: "_blank"  %>
          </li>
          <li>
            <%= link_to 'Essential Medicine List','/eml2010.pdf', target: "_blank"  %>
          </li>
        </ul>
      </li>
    <% elsif current_user.role_id == 8 %>
      <li class="sub-menu">
        <a href="javascript:;"> <i class=""></i> <span>Cashier</span> </a>
        <ul class="sub">
          <li>
            <%= link_to "Bills".html_safe,bill_temps_path %>
          </li>
          <li>
            <%= link_to ' Incident Reporting',incident_reports_path %>
          </li>
        </ul>
      </li>
    <% else %>
    <% end%>

</div>
</div>
</aside>
<%end%>
</body>
