<!DOCTYPE html>
<html>
  <head>
    <title>Yaryssa EMR</title>
   

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="/assets/daterangepicker.css">
    <link rel="stylesheet" href="/assets/fullcalendar.css">
    <link rel="stylesheet" href="/assets/bootstrap.min.css" >
    <link href="/assets/style.css" rel='stylesheet' type='text/css' />
    <link href="/assets/style-responsive.css" rel="stylesheet"/>
    <link href="/assets/lightbox.css" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/font.css" type="text/css"/>
    <link href="/assets/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/morris.css" type="text/css"/>
    <link rel="stylesheet" href="/assets/monthly.css">
    <script src="/assets/jquery2.0.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/assets/morris.js"></script>
    <script src="/assets/morris.min.js"></script>
    <script src="/assets/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/scripts.js"></script>
    <script src="/assets/script.js"></script>
    <script src="/assets/jquery.slimscroll.js"></script>
    <script src="/assets/jquery.nicescroll.js"></script>
    <script src="/assets/jquery.scrollTo.js"></script>
    <script src="/assets/jquery.fileupload.js"></script>
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/lightbox-plus-jquery.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/moment.js"></script>
    <script src="/assets/fullcalendar.js"></script>
    <script src="/assets/full_calendar.js"></script>
    <script src="/assets/full_calendar2.js"></script>
    <script src="/assets/full_calendar_doctor.js"></script>
    <script src="/assets/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/assets/bootstrap-datetimepicker.js"></script>

  </head>
  <body>

    <%= render 'layouts/messages' %>
    <%= render 'layouts/sidemenu' %>
    <%= yield %>
    <div id='remote_container'></div>
  </body>
</html>
